body {
    height: 100vh !important;
}

.container-central {
    display: grid;
    grid-template-rows: 150px 1fr 50px;
}

.header {
    background: #3a6ea5;
}

.container-contenido {
    display: grid;
    grid-template-rows: 50px 1fr;
}

.contenido-hoja {
    display: grid;
    overflow: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    justify-content: center;
    align-content: center;
    grid-column-gap: 10px;
}

.navegacion {
    background: #fafafa;
    border: 1px solid #eee;
    padding: 10px;
}